*{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
.wrapp{
	width: 980px;
	margin: 0 auto;
	position: relative;
	padding: 0;
}


.wrapper{
	width: 980px;
	margin: 0 auto;
	padding: 0;
	height: 2850px;
}



/*----- navigacija -----*/

#full-wrapp{
	width: 100%;
	background: #f1f1f1;
}
nav ul{
	overflow: hidden;
	padding: 0;
	margin: 0;
	text-align: right;
}
nav ul li{
	display: inline-block;
	padding: 33px 10px;
}
nav ul li a{
	text-decoration: none;
	color: #545454;
}
nav ul li a:hover{
	color: #4b8afd;
	transition: .3s ease-in-out;
}
#logo{
	width: 112px;
	height: 63px;
	float: left;
	margin-top: 13.5px;
	padding: 0;
}



/*----- SLIDER  -----*/

#slideshow { 
    width: 100%; 
    height: 420px; 
    overflow: hidden;
}
#slideshow> img{
	width: 100%;
	height: 420px;
}
.container{	color: #FFF;
	position: absolute;
	bottom: 40%;
	left: 19% ;
	 width: 980px;
}
.tekstStyle{
	color: #FFF;
	font-size: 50px;
	font-weight: initial;

}
.paragrafStyle{
	font-size: 20px;
	font-weight: 100;
}
.slide{
	position: relative;
}
.carousel-item img{
	width: 100%;
	height: 420px;

}
.head-slider{
	height: 420px;
	position: relative;
}
.dugme{
	position: absolute;
	bottom: -50%;
	left: 0 ;
	border: none;
	border-radius: 4px;
	background: #fff;
	color:  #4b8afd;
	padding: 8.5px 16.7px;
	cursor: pointer;
	text-decoration: none;
}

.prev{
	position: absolute;
	height: 50px;
	width: 70px;
	background: #f1f1f1;
	top:37%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;

}
.prev img,.next img{
	padding:7px 20px;
	cursor: pointer;
}
.next{
	position: absolute;
	height: 50px;
	width: 70px;
	background: #f1f1f1;
	top:37%;
	right: 0%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.inner{
	overflow: hidden;
}
.dices {
  position: absolute;
  bottom: 5px;
  left: 19%;
}
.active {
  background-color: rgba(255, 255, 255, 1) !important;
}
.dices div {
  float: left;
  margin: 5px;
  height: 21px;
  width: 21px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.5s;
}
.dices div:nth-of-type(1){
  margin-left: 0;
}

/*-------SPAN ELEMENTI------*/

.fa-linkedin:hover{
	color: #fff;
	background: #0077B5;
	transition: .3s ease-in-out;
}
.fa-twitter:hover{
	background: #00aced;
	transition: .3s ease-in-out;
}
.fa-facebook:hover{
	background: #3b5998;
	transition: .3s ease-in-out;
}
.fa-pinterest-p:hover{
	background: #bd081c;
	transition: .3s ease-in-out;
}
.fa{
	text-align: center;
    height: 22px;
    width: 22px;
    padding-top: 4px;
    background-color: rgb(190, 190, 190);
    border-radius: 50%;
    color: rgb(255, 255, 255);
    display: inline-block;
    transition: all 0.5s;
}






/*Style features*/


#second{
	height: 290px;
	clear: both;
}
.all-features{
	width: 100%;
	height: 200px;
}
.title{
	color: #545454;
	padding: 30px;
	text-align: center;
	font-weight: normal;
	letter-spacing: 5px;
}
.features{
	padding: 15px 10px;
	border-radius: 15px;
	background: #f1f1f1;
	float: left;
	margin-right: 30px;
	width: 200px;
	height: 160px;
}
.features:nth-last-child(1){
	margin-right: 0px;
}
.features h4{
	color: #4b8afd;
	margin-bottom: 10px;
}
.features p{
	font-size: 14px;
}
#tools{
	width:33px ;
	height:32px ;
	float: left;
	margin-right: 10px;
}

#brash{
	width:33px ;
	height:32px ;
	float: left;
	margin-right: 10px;
}
#settings{
	width:36px ;
	height:42px ;
	float: left;
	margin-right: 10px;
}
#rocket{
	width:32px ;
	height:42px ;
	float: left;
	margin-right: 10px;
}



/*------ Style PROJECT ------*/


#project{
	width: 100%;
	height: 550px;
	
}
.all-project{
	position: relative ;
}
.active-project{
	width: 100%;
	height: 340px;
	position: absolute;
}
.projectSlide,.projectSlide2{
	width: 100%;
	height: 160px;
	position: relative;
	
}
.left,.left1,.left2,.left4{
	position: absolute;
	top: 30%;
	float: left;
	display: inline-block;
	font-size: 50px;
	font-weight: 100; 
	cursor: pointer;
}
.right,.right1,.right2,.right4{
	position: absolute;
	top: 30%;
	right: 0;
	float: right;
	display: inline-block;
	font-size: 50px;
	cursor: pointer;
}
.sliderCenter{
	line-height: 7;
	font-size: 24px;
	text-align: center;
	letter-spacing: 5px;
	color:#545454;
}
.title1{
	width: 710px;
	float: left;
	margin-right:30px;
	margin-top:30px;
}
.all-gallery{
	width: 220px;
	height: 280px;
	float: left;
}
.gallery{
	margin-top: 30px;
}
.naslov{
	text-align: left;
	color:#4b8afd ;
	margin-bottom: 25px;
}
.tekst{
	text-align: left;
	margin-bottom: 25px;
}
#button{
	text-align: center;
	text-decoration: none;
	background: #4b8afd;
	color: #fff;
	border-radius: 5px;
	padding: 5px 15px;
}
#button:hover{
	background: #3460b1;
	transition: .9s ease-in-out;
}
.img{
	width: 60px;
	height: 60px;
	float: left;
	margin:0 20px 20px 0;
	cursor: pointer;
}
.img:nth-last-of-type(3n+1){
	margin-right: 0;
}
.img img{
	width: 60px;
	height: 60px;
	border-radius: 5px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.img img:hover{
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}



/*------ Style  WHO WE ARE ------*/


#who{
	height: 760px;
	
}
.projectSlide1{
	width: 100%;
	height: 160px;
	position: relative;
	
}
.sliderCenter1{
	line-height: 7;
	font-size: 24px;
	text-align: center;
	letter-spacing: 5px;
	color:#545454;
}
.all-people{
 height: 239px ;
 overflow: hidden;
 float: left;

}
.people{
	height: 239px;

}
.person{
	background: #f1f1f1;
	height: 239px;
	width: 140px;
	float: left;
	border-radius: 7px;
	margin-right: 23px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	cursor: pointer;
}
.person img{
	margin:5px ;
}
.preson a{
	padding-left:10px; 
}
.person:hover{
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
.person:nth-last-child(1){
	margin-right: 0;
}
.ime{
	font-size: 14px;
	padding: 5px; 

}

.info1 a{
padding: 10px 5px;
}



/*----- Style  OUR CLIENTS -----*/


#clients{
	height: 440px;
}
.logo-clients{
	width: 220px;
	height: 69px;
	background: #f1f1f1;
	border-radius: 10px;
	margin-right: 24px;
	float: left;
}
.logo-clients:nth-last-child(1){
	margin-right: 0;
}
.h2-client{
	text-align: center;
	color: #4b8afd;
	line-height: 2.5;
	font-weight: normal;
}
.slider-client{
	height: 69px;
	overflow: hidden;h
}
.all-clients{
	
	height: 69px;
}
#testemonials{
	width: 100%;
	margin-top: 20px;
}
#testemonials h2{
	color: #4b8afd;
	margin-bottom: 20px;
}

.testemonials-left{
	float: left;
	width: 45%;
}
.testemonials-left img{
	float: left;
	margin:0 15px 151px 0 ; 
}
.testemonials-right{
	float: right;
	width: 45%;
}
.testemonials-right img{
	float: left;
	margin:0 15px 151px 0 ;
}


/*----- Style Contact ------*/

#contact{
	height: 700px;
	padding-top: 40px; 
}
.contact-left{
	float: left;
	width: 45%;
}
.contact-right{
	float: right;
	width: 45%;
	padding-top:40px; 
}
.form{
	width: 100%;
	height: 405px;
}
input[type="text"]{
	width: 97%;
	border-radius: 5px;
	border: 1px solid #545454;
	padding: 5px;
}
input[type="text"]:hover{
	border: 1px solid #4b8afd;
	pointer: cursor;
}
#mess{
	width: 97%;
	height: 100px;
	border: 1px solid #545454;
	border-radius: 5px;
	padding: 5px;
}
.button{
	float:right;
	text-align: center;
	text-decoration: none;
	background: #4b8afd;
	color: #fff;
	border-radius: 5px;
	padding: 5px 25px;
	margin-top: 10px;
}
.button:hover{
	background: #3460b1;
	transition: .6s ease-in-out;
}

.find h2{
	color:  #4b8afd;
	letter-spacing: 2px;
	margin-bottom: 10px;
	font-weight: normal;
}
.info{
	margin-right: 10px;
}
.prvi{
	margin-bottom: 40px;
}
.prvi h2{
	color:  #4b8afd;
	margin-bottom: 20px;
	font-weight: normal;
}
.drugi h2{
	color:  #4b8afd;
	margin-bottom: 20px;
	font-weight: normal;
}
.drugi a{
	color:  #4b8afd;
	text-decoration: none;
}
.drugi a:visited{
	color:  #4b8afd;
}

.map{
	margin-top: 30px;
}

/*------ style footer ------*/
footer{
	width: 100%;
	height: 220px;
}
.up{
	background: #f1f1f1;
	width: 100%;
	height: 100px;
}
.down{
	width: 100%;
	height: 100px;
}
/*navigation from footer*/
.nav{
	
}
.nav ul{
	overflow: hidden;
	padding: 0;
	margin: 0;
	text-align: left ;
}
.nav ul li{
	display: inline-block;
	padding: 39px 10px;
}
.nav ul li a{
	text-decoration: none;
	color: #545454;
	font-weight: 900;
}
.nav ul li a:hover{
	color: #4b8afd;
	transition: .3s ease-in-out;
}
.button1{
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: center;
	text-decoration: none;
	background: #4b8afd;
	color: #fff;
	border-radius: 5px;
	padding: 5px 15px;
}
.button1:hover{
	background: #3460b1;
	transition: .4s ease-in-out;
}
#footer-p{
	margin-top: 5px;
	font-size: 12px;
	color: rgb(190, 190, 190);
}

